@charset "UTF-8";
/* CSS Document */
html {
  scroll-behavior: smooth
}
.top-bar {
  width: 100%;
  height: 50px;
  line-height: 50px
}
.top-bar a {
  color: white
}
.top-bar a:hover {
  color: #FFC113
}
.navbar .navbar-nav .nav-item .nav-link {
  padding: 10px 20px
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #056CB6
}
.navbar .navbar-nav .nav-item .dropdown-menu {
  background-color: #056CB6;
  padding-bottom: 0;
  padding-top: 0;
  border-radius: 0
}
.navbar .navbar-nav .nav-item .dropdown-menu li {
  border-bottom: 1px solid #C9C9C9
}
.navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-item {
  color: white
}
.navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-item:hover {
  background-color: #FFC113
}
main {
  width: 100%;
  min-height: 500px
}
footer {
  width: 100%;
  min-height: 300px
}
.gach-chan {
  border-bottom: 2px solid #FFC113;
  padding-top: 3px
}
footer .navbar-nav .nav-item .nav-link:hover {
  color: #FFC113
}
footer .p-3 button:hover {
  background-color: #003287;
}
footer .p-3 .icon-brand a {
  color: white
}
footer .p-3 p i {
  color: #FFC113
}
.bottom-bar {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
#about button:hover {
  background-color: #FFC113;
  border: 1px #FFC113 solid
}
#service a {
  text-decoration: none;
  color: #565656;
}
#service a:hover {
  color: #FFC113
}
#why {
  width: 100%;
  min-height: 400px;
  background-image: url("../images/why.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin-top: 10px
}
#thanhcong .col-lg-6 .hinhkhach {
  position: relative
}
#thanhcong .col-lg-6 .befor {
  background-color: #B7B7B7;
  width: 50px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  color: #565656;
  top: 10px
}
#thanhcong .col-lg-6 .beafter {
  position: absolute;
  top: 0%;
  width: 100%;
}
.m-20 {
  maggin: 0 20 0 0
}
#thanhcong button:hover {
  background-color: #FFC113;
  border: 1px #FFC113 solid
}
#feedback {
  width: 100%;
  min-height: 300px
}
#feedback .noidung img {
  width: 100px;
  height: 100px
}
#feedback .noidung {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}
#news a {
  text-decoration: none;
  color: #565656;
}
#news a:hover {
  color: #FFC113
}
#news row .col {
  display: flex
}
#lichhen {
  width: 100%;
  min-height: 250px
}
#lichhen button:hover {
  background-color: #FFC113;
  border: 1px #FFC113 solid
}
/*xong index*/
/*bat dau trang about us*/
#page-header {
  width: 100%;
  min-height: 300px;
  background-image: url("../images/pageheader.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: center
}
#page-header button:hover {
  background-color: #FFC113;
  border: 1px #FFC113 solid
}
#doingu {
  width: 100%;
  min-height: 400px
}
#doingu img {
  width: 130px;
  height: 130px
}
/*style trang dich vu*/
/*style trang lienhe*/
#hotro p i {
  color: #FFC113
}
#hotro form {
  display: flex;
}
#hotro form input {
  margin-bottom: 5px
}
#hotro button:hover {
  background-color: #FFC113;
  border: 1px #FFC113 solid
}
/*style hinh anh khach hang*/
#hinhkhachhang .col-lg-6 .hinhkhach {
  position: relative
}
#hinhkhachhang .col-lg-6 .befor {
  background-color: #B7B7B7;
  width: 50px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  color: #565656;
  top: 10px
}
#hinhkhachhang .col-lg-6 .beafter {
  position: absolute;
  top: 0%;
  width: 100%;
}
.hinhminhhoa {
  width: 100%;
  min-height: 100px
}
#baiviet .quote {
  border-left: 2px solid #9C9C9C;
  padding-left: 20px
}
#baiviet .col-lg-4 .search-box .search-box_input{
  width: 100%;
}
#baiviet .col-lg-4 .search-box {
  width: 100%;
  position: relative;
}
#baiviet .col-lg-4 .search-box .search-box_btn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #036CB5
}
#baiviet .col-lg-4 .search-box .search-box_btn i {
  color: white;
}
#baiviet .col-lg-4 .search-box .search-box_btn i:hover {
  color: #FFC113;
}
#baiviet .col-lg-4 .navbar-nav .nav-item .nav-link i {
  color: #C2282B
}
#baiviet .col-lg-4 .navbar-nav .nav-item .nav-link:hover {
  color: #FFC113
}
#baiviet button:hover {
  background-color: #FFC113;
  border: 1px #FFC113 solid
}
/*style tin tuc*/
#baibao .col-lg-4 .search-box .search-box_input{
	width: 100%;
}
#baibao .col-lg-4 .search-box{
  width: 100%;
  position: relative;
}
#baibao .col-lg-4 .search-box .search-box_btn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #036CB5
}
#baibao .col-lg-4 .search-box .search-box_btn i {
  color: white;
}
#baibao .col-lg-4 .search-box .search-box_btn i:hover {
  color: #FFC113;
}
#baibao .col-lg-4 .navbar-nav .nav-item .nav-link i {
  color: #C2282B
}
#baibao .col-lg-4 .navbar-nav .nav-item .nav-link:hover {
  color: #FFC113
}
#baibao button:hover {
  background-color: #FFC113;
  border: 1px #FFC113 solid
}
#baibao .baivietlienquan .bai1 a{
	text-decoration: none;
	color:#131313
}#baibao .baivietlienquan .bai1 a:hover{
	color: #FFC113 
}
.box-xam{
	width: 70px;
	height: 40px;
	background-color: #313131;
	border-radius: 5px
}
.box-xam-text{
	width: 40px;
	height: 40px;
	background-color: #313131;
	border-radius: 5px;
	color: #E5E5E5;
	text-align: center;
	line-height: 40px
}
#baibao h4 a{
	color: black;
	text-decoration: none
}
#baibao h4 a:hover{
	color: #FFC113
}